#box3{
    border: 5px solid;
    height: 250px;
    width: 250px;
    font-size: 225px;
    background-color: orange;
    text-align: center;


    /*
    animation: mySide;

    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-duration: 3s;
    */
    
    animation: 3s linear 0s infinite running myColorChange; 
    
}

#box3:hover{
    
}

#box3:active{
    
}

@keyframes mySide{
    from{margin-left: 0%;}
    to{margin-left: 100%;}
}

@keyframes myRotate{
    /*
    100%{transform: rotateX(360deg)}
    100%{transform: rotateY(360deg)}
    */
    100%{transform: rotateZ(360deg)}
}

@keyframes myOpacity{
    100%{opacity: 0; }
}

@keyframes myScale{
    50%{transform: scale(0.5, 0.5);}
}

@keyframes myColorChange{
    0%{background-color: red;}
    20%{background-color: orange;}
    40%{background-color: green;}
    60%{background-color: blue;}
    80%{background-color: lightblue;}
}