body{
    background-color: black;
}

h1{
    color: white;
    font-family: "press Start 2P", "consolas";
}

p{
    color: lightgreen;
    font-family: "consolas ", sans-serif; 
    font-style: italic;
    font-weight: bold;
    text-decoration: cyan dotted underline ;
    font-size: 18px;

}
